.pytest_cache
__pycache__
.coverage
htmlcov
.vscode
.coverage.xml
*.pyc
.idea
coverage.xml
.gradle
Logo.java
*parser.out
log.html
output.xml
report.html
src/tests/e2e/java/classes/EV3MovePilot.class
src/tests/e2e/java/logo/Logo.class
src/error_messages/error_messages.json